<!-- promo start-->
<app-promo></app-promo>
<!-- promo end-->

<!-- about us start-->
<app-about-us></app-about-us>
<!-- about us end-->

<!-- icons section start-->
<app-icons-section></app-icons-section>
<!-- icons section end-->

<!-- causes start-->
<app-causes></app-causes>
<!-- causes end-->

<!-- projects start-->
<app-projects></app-projects>
<!-- projects end-->

<!-- events start-->
<app-event></app-event>
<!-- events end-->

<!-- text section start-->
<app-text-section></app-text-section>
<!-- text section end-->

<!-- testimonials style-2 start-->
<app-testimonial></app-testimonial>
<!-- testimonials style-2 end-->

<!-- blog start-->
<app-blog></app-blog>
<!-- blog end-->

<!-- donors start-->
<app-donor></app-donor>
<!-- donors end-->

<!-- instagram start-->
<app-instagram></app-instagram>
<!-- instagram end-->

<!-- subscribe start-->
<app-subscribe></app-subscribe>
<!-- subscribe end-->
